<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="General">
        <setting label="Sequence" type="lsep"/>
        <setting id="sequence.2D"         label="2D sequence"            type="action" action="RunScript(script.cinemavision,sequence.2D)" />
        <setting id="sequence.3D"         label="3D sequence"            type="action" action="RunScript(script.cinemavision,sequence.3D)" />
        <setting id="3D.tag.regex"        label="3D tag detection regex" type="text"   default="(?i)3DSBS|3D.SBS|HSBS|H.SBS|H-SBS|[\. _]SBS[\. _]|FULL-SBS|FULL.SBS|FULLSBS|FSBS|HALF-SBS|3DTAB|3D.TAB|HTAB|H.TAB|3DOU|3D.OU|3D.HOU|[\. _]HOU[\. _]|[\. _]OU[\. _]|HALF-TAB" />
        <setting id="bumper.fallback2D"   label="Fallback to 2D bumper"  type="bool"   default="false" />
        <setting id="scope"               label="Scope (Restart editor to apply)" type="labelenum" values="16:9|2.35:1|2.40:1"  default="0" />
    </category>

    <category label="Content">
        <setting id="content.path"        label="Content path"           type="folder" sources="auto" option="writeable" value="" />
        <setting id="database.update"     label="Update content"         type="action" action="RunScript(script.cinemavision,update.database)" option="close" />
        <setting id="database.autoUpdate" label="Auto update when editor starts" type="bool" default="false" subsetting="true" />
        <setting label="Trailer Scrapers" type="lsep"/>
        <setting id="scraper.trailers.Content"         label="Content Folder"      type="bool" default="true" />
        <setting id="scraper.trailers.KodiDB"          label="Kodi Database"       type="bool" default="true" />
        <setting id="scraper.trailers.iTunes"          label="Apple iTunes"        type="bool" default="true" />
        <setting id="scraper.trailers.StereoscopyNews" label="StereoscopyNews.com" type="bool" default="false" />
    </category>

    <category label="Playback">
        <setting id="hide.queue.dialog"        label="Hide queue dialog"       type="bool" default="false" />
        <setting id="hide.queue.dialog.single" label="If only one item queued" type="bool" default="false" subsetting="true" enable="eq(-1,true)"/>
        <setting id="allow.video.skip"         label="Allow video skipping"    type="bool" default="true" />
    </category>

    <category label="Video">
        <setting label="Module Defaults" type="lsep"/>
        <setting id="video.volume" label="Volume (% of current)" type="slider" default="100" range="1,100" option="percent" />
    </category>

    <category label="Trivia">
        <setting label="Music" type="lsep"/>
        <setting id="trivia.musicVolume"  label="Volume (% of current)" type="slider" default="75"  range="1,100"    option="percent" />
        <setting id="trivia.musicFadeIn"  label="Fade in (seconds)"     type="slider" default="3.0" range="0,0.2,10" option="float" />
        <setting id="trivia.musicFadeOut" label="Fade out (seconds)"    type="slider" default="3.0" range="0,0.2,10" option="float" />
        <setting label="Module Defaults" type="lsep"/>
        <setting id="trivia.format"      label="Format"                      type="enum"   values="Slide|Video"  default="0" />
        <setting id="trivia.duration"    label="Duration (minutes)"          type="slider" default="10" range="1,60" option="int" />
        <setting id="trivia.qDuration"   label="Question duration (seconds)" type="slider" default="8"  range="1,60" option="int" />
        <setting id="trivia.cDuration"   label="Clue duration (seconds)"     type="slider" default="6"  range="1,60" option="int" />
        <setting id="trivia.aDuration"   label="Answer duration (seconds)"   type="slider" default="6"  range="1,60" option="int" />
        <setting id="trivia.sDuration"   label="Still duration (seconds)"    type="slider" default="10" range="1,60" option="int" />
        <setting id="trivia.transition"  label="Transition"                  type="enum"   values="None|Fade|Slide Left|Slide Right|Slide Up|Slide Down"  default="1" />
        <setting id="trivia.transitionDuration" label="Transition: Duration (ms)" type="slider" default="400" range="100,100,2000" option="int" />
        <setting id="trivia.music"       label="Music"                       type="enum"   values="None|Content|Directory|File" default="1" />
        <setting id="trivia.musicDir"    label="Music: path"                 type="folder" sources="auto" value="" />
        <setting id="trivia.musicFile"   label="Music: file"                 type="file"   sources="auto" value="" />
    </category>

    <category label="Trailers">
        <setting id="trailer.preferUnwatched" label="Prefer unwatched over priority" type="bool"   default="true" />
        <setting id="trailer.CLEAR"           label="Clear trailers watched status" type="action" action="RunScript(script.cinemavision,trailer.clearWatched)" />
        <setting label="Module Defaults" type="lsep"/>
        <setting id="trailer.source"       label="Source"               type="enum"      values="Scrapers|Directory|Single File" default="0" />
        <setting id="trailer.scrapers"     label="Scrapers filter (by priority)" type="action" action="RunScript(script.cinemavision,trailer.scrapers)" default="iTunes,KodiDB" />
        <setting id="trailer.dir"          label="Source: Directory"    type="folder"    sources="auto" value="" />
        <setting id="trailer.file"         label="Source: File"         type="file"      sources="auto" value="" />
        <setting id="trailer.count"        label="Count"                type="slider"    default="1" range="1,10" option="int" />
        <setting id="settings.ratings.initialized2" label="" type="bool" default="false" visible="false"/>
        <setting id="trailer.ratingLimit"  label="Rating limit"         type="enum"      values="None|Max|Match Features" default="0" />
        <setting id="trailer.ratingMax"    label="Max "    type="fileenum"  values="$PROFILE/settings/ratings_default" subsetting="true" visible="eq(-2,true)"/>
        <setting id="trailer.ratingMax.dummy" label="Max (needs Content path set and updated)" type="text" values=" " enable="false" subsetting="true" visible="!eq(-3,true)" />
        <setting id="trailer.limitGenre"   label="Match feature genres" type="bool"      default="true" />
        <setting id="trailer.filter3D"     label="Filter 3D based on feature" type="bool" default="true" />
        <setting id="trailer.quality"      label="Quality"              type="labelenum" values="480p|720p|1080p" default="720p" />
        <setting id="trailer.volume"       label="Volume (% of current)" type="slider"   default="100" range="1,100" option="percent" />
    </category>

    <category label="Audio Format">
        <setting label="Module Defaults" type="lsep"/>
        <setting id="audioformat.method"   label="Method"   type="enum" values="Auto-detect from source|Choose format|Choose file" default="0" />
        <setting id="audioformat.fallback" label="Fallback" type="enum" values="Choose format|Choose file" default="0" subsetting="true" />
        <setting id="audioformat.format"   label="Format"   type="enum" values="(?i)Auro-3D|Dolby Digital|Dolby Digital Plus|Dolby TrueHD|Dolby Atmos|DTS|DTS-HD Master Audio|DTS:X|Datasat|THX|Other" default="10" subsetting="true" />
        <setting id="audioformat.file"     label="File"     type="file" sources="auto" value="" subsetting="true" />
        <setting id="audioformat.volume"   label="Volume (% of current)" type="slider" default="100" range="1,100" option="percent" />
    </category>

    <category label="Features">
        <setting id="settings.ratings.initialized" label="" type="bool"   default="false" visible="false"/>
        <setting id="rating.system.default"        label="Default rating system"  type="fileenum"   values="$PROFILE/settings/ratings"  default="MPAA" mask="/" visible="eq(-1,true)"/>
        <setting id="rating.system.default.dummy"  label="Default rating system (needs Content path set and updated)"  type="enum"   values="None"  default="0" visible="!eq(-2,true)" enable="false" />
        <setting label="Module Defaults" type="lsep"/>
        <setting id="feature.count"                label="Count"                  type="slider" default="1" range="1,10" option="int" />
        <setting id="feature.ratingBumper"         label="Rating bumper"          type="enum"   values="None|Video|Image"  default="1" />
        <setting id="feature.ratingStyleSelection" label="Rating style selection" type="enum"   values="Random|Style"  default="0" />
        <setting id="feature.ratingStyle"          label="Rating style"           type="action" default="" action="RunScript(script.cinemavision,feature.setRatingBumperStyle)" subsetting="true" visible="eq(-7,true)"/>
        <setting id="feature.ratingStyle.dummy"    label="Rating style (needs Content path set and updated)"  type="enum"   values="None"  default="0" subsetting="true" visible="!eq(-8,true)" enable="false" />
        <setting id="feature.volume"               label="Volume (% of current)"  type="slider" default="100"  range="1,100"    option="percent" />
    </category>

    <category label="Actions">
        <setting id="action.onPause"       label="Execute action on sequence pause"  type="bool" default="false" />
        <setting id="action.onPause.file"  label="Action file"                       type="file" sources="auto" value="" subsetting="true" enable="eq(-1,true)" />
        <setting id="action.onResume"      label="Execute action on sequence resume" type="bool" default="false" />
        <setting id="action.onResume.file" label="Action file"                       type="file" sources="auto" value="" subsetting="true" enable="eq(-1,true)" />
        <setting id="action.onAbort"       label="Execute action on sequence abort"  type="bool" default="false" />
        <setting id="action.onAbort.file"  label="Action file"                       type="file" sources="auto" value="" subsetting="true" enable="eq(-1,true)" />
    </category>

    <category label="Advanced">
        <setting label="Logging" type="lsep"/>
        <setting id="debug.log"           label="Debug logging"                 type="bool"   default="true" />
        <setting id="pastebin.paste.log"  label="Paste my kodi.log to pastebin" type="action" action="RunScript(script.cinemavision,pastebin.paste.log)" option="close"/>
        <setting id="pastebin.user"       label="Pastebin user (necessary to paste as user)"  type="text" default="" />
        <setting id="pastebin.delete.key" label="Delete Pastebin user key"      type="action" action="RunScript(script.cinemavision,pastebin.delete.key)" />
        <setting label="Miscellaneous" type="lsep"/>
        <setting id="video.preDelay"      label="Video Pre-Delay (ms)"          type="slider" default="0" range="0,100,3000" option="int" />
        <setting id="reset.database"      label="Reset content database"        type="action" action="RunScript(script.cinemavision,reset.database)" />
        <setting id="trailer.CLEARBROKEN" label="Clear trailers broken status"  type="action" action="RunScript(script.cinemavision,trailer.clearBroken)" />
    </category>
</settings>
